.items-bg {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: #e7e7e6;
  position: absolute;
  overflow-y: hidden;
}

.back-button {
  width: 100px;
  height: 40px;
  margin-left: 30px;
  margin-top: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #d2d2d2;
  text-decoration: none;
  color: black;
  border-radius: 20px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #5d5d5d;
  color: white;
}
